/* Mixins */

// small-column and large-column should be used together, instead of grid-column.
@mixin small-column($columns,
                    $last-column: false,
                    $center: false,
                    $offset: false,
                    $push: false,
                    $pull: false,
                    $collapse: false,
                    $float: left)
{
  @media only screen and (max-width: $small-screen) {
    @include grid-column($columns, $last-column, $center, $offset, $push, $pull, $collapse, $float);
  }
}

@mixin large-column($columns,
                    $last-column: false,
                    $center: false,
                    $offset: false,
                    $push: false,
                    $pull: false,
                    $collapse: false,
                    $float: left)
{
  @media only screen and (min-width: $small-screen + 1) {
    @include grid-column($columns, $last-column, $center, $offset, $push, $pull, $collapse, $float);
  }
}

/* Styles */

#life-header {
  @include grid-row;
  & > header {
    @include grid-column(12);
    position: relative;
    border-bottom: {
      width: $hr-border-width;
      style: $hr-border-style;
      color: $hr-border-color;
    }
    margin-bottom: $hr-margin;

    & > div#life-waterdrop {
      position: relative;
      top: emCalc(10);
      z-index: 1;
      width: emCalc(394.41351 / 4);
      height: emCalc(554.93317 / 4);
      margin:0 auto;
      & > svg {
        width: 100%;
        height: 100%;
      }
    }

    & > h1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      text-align: center;
      @include text-shadow(lighten($header-font-color, 5%) 0 0 3px);
      font-size: emCalc(95);
      color: $header-font-color;
    }

    & > p {
      font: {
        size: $h5-font-size;
        style: italic;
      }
      margin-top: emCalc(20);
      text-align: center;
    }
  }
} // #life-header

#life-overview {
  @include grid-row;
  & > div#life-description {
    @include large-column(8);
    @include small-column(12);
  }

  & > div#life-installation {
    @include large-column(4);
    @include small-column(12);
  }
} // #life-overview

tt, pre {
  font: {
    family: $keystroke-font;
    size: $h5-font-size;
  }
}

#life-footer {
  @include grid-row;
  border-top: {
    width: $hr-border-width;
    style: $hr-border-style;
    color: $hr-border-color;
  }
  margin-top: $hr-margin;
  padding-top: $hr-margin;

  & > div#life-copyright {
    @include grid-column(6);
  }

  & > div#life-social-links {
    @include grid-column(6);
    & > ul {
      @include inline-list;
      float: right;
    }
  }
}

// Global
li {
  list-style-type: none;
}
