<!-- Footer -->

<footer id="life-footer">
  <div id="life-copyright">
    <p>&copy; Copyright 2012–2013 Lifepillar. I iron my shirts.</p>
  </div>
  <div id="life-social-links">
    <ul class="inline-list right">
      <% data.footer_links.each do |item| %>
        <li><a href="<%= item.link %>"><%= item.title %></a></li>
      <% end %>
    </ul>
  </div>
</footer>
